name: Node CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  nodejs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm ci
      - name: Prettier
        run: npm run prettier
      - name: Run linter
        run: npm run eslint
